:root{
    --h1_fontSize: 2.6rem;
    --h2_fontSize: 2.4rem;
    --h3_fontSize: 1.8rem;
    --regular_fontSize: 1.7rem;
    --mobile_fontSize:1.5rem;
    --primary_color: #39A3FA;
    --second_color: #0E283D;
    --third_color: #2B7ABA;
    --forth_color: #1C507A;
    --white: #fff;
    --black: #000;
    --featureFont:'Acme', sans-serif;
    --regularFont:'Poppins', sans-serif;
}

/* Start of general styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    font-size: var(--regular_fontSize);
    font-family: var(--featureFont);
}

h1{
    font-size: var(--h1_fontSize);
    font-weight:bolder;
}

h2{
    font-size: var(--h2_fontSize);
    font-weight:bolder;
}

hr{
    color: rgba(107, 107, 107, 0.5);
    width: 80%;
    margin: 40px auto;
}
/* End of general styles */

/* Start of header styles */

header{
    width: 100%;
    max-height: 59px;
    background-color: var(--forth_color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 10px;
    font-size: var(--mobile_fontSize);
    color: var(--white);
    transition: 1s;
}

.brand{
    font-family: var(--featureFont);
    transition: .7s;
}

.brand:hover{
    font-size: 2rem;
    color: var(--primary_color);
}

header nav{
    display: flex;
    flex-direction: column;
}

header nav ul, .menu{
    width: 100%;
    background-color: var(--forth_color);
    position: absolute;
    top:-500px;
    left: 0;
    transition: .5s;
}

.menu.active{
    display: block;
    position: absolute;
    left: 0;
    top: 50px;
}

header nav ul li{
    list-style: none;
    width: 100%;
}

header nav ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    cursor: pointer;
    color: var(--white);
}
header nav ul li:hover {
    background-color: var(--third_color);
}

#menu_button{
    height: inherit;
    cursor: pointer;
    padding: 10px;
    font-family: var(--featureFont);
    transition: .5s;
}
#menu_button:hover{
    font-size: 2rem;
    color: var(--primary_color);
}

.dark, .dark ul li a {
background-color: rgba(0,0,0,.85);
}



/* End of header styles */

/* Start of main styles */

.main{
    display: flex;  
}

    /* Start of hero styles */

    .hero{
        background-color: var(--forth_color);
        height: 700px;
        width: 100%;
        background-image: url('./img/web-pexels-negative-space-169573.jpg');
        /* background-attachment: fixed; */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: fixed;
        top: 0;
        z-index: -5;
    }
    .hero-filter{
        height: 600px;
        width: 100%;
        background: none;
        background-color: rgba(255,255,255,.1);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-shadow: 1px 1px 1px rgb(3, 1, 15);
    }
    .hero-filter span{
        font-size: 5rem;
    }
    .hero-filter h1, .hero-filter h2{
        color: var(--white);
        font-size: 5rem;
    }
    .hero-filter h1 span,
    .hero-filter h2:last-child{
        color: var(--primary_color);
        font-size: 5rem;
    }

    /* End of hero styles */

    /* Start of about styles */

    .about-wrapper{
        width: 100%;
        background-color: var(--white);
    }
    .about, .experience{
        width: 100%;
        background-color: var(--white);
        font-family: var(--regularFont);
        padding:100px 20px;
    }


    .about .me p, .about .me ul{
        font-size: var(--mobile_fontSize);
        list-style: none;
    }

    .about .me p{
        margin-top: 20px;
    }
    .about .me ul{
        margin-top: 30px;
    }

    .about .description{
        font-weight: bold;
    }

    .about .data{
        color: var(--third_color);
        padding-left: 20px;
    }

    .about .education, .experience .positions{
        padding-top: 50px;
    }
    .education h2{
        margin: 20px 0;
        padding-bottom: 30px;
    }
    .education .degree, .positions .position{
        display: block;
        width: 100%;
        min-height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .degree .date, .positions .date{
        color: var(--third_color);
        font-weight: bold;
    }

    .degree .entity, .positions .entity{    
        font-size: 1.5rem;
        font-weight: bolder;
        color: var(--second_color);

    }
    .degree h3, .position h3{    
        font-size: var(--regularFont);
    }
    /* End of about styles */

    /* Start of resume styles */

    .resume-wrapper{
        width: 100%;
        background-color: var(--primary_color);
    }
    .resume{
        max-width: 1200px;
        margin: 0 auto;
        background-color: var(--primary_color);
        font-family: var(--regularFont);
        padding:100px 20px;
    }
    .resume h2{
        padding-bottom: 30px;
    }
    .resume .courses{
        list-style: none;
        display: flex;
        text-align: center;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 20px;
        min-height: 300px;
    }


    .resume .course a{
        text-decoration: none;
        cursor: pointer;
        background-color: white;
        display: inline-block;
        display: flex;
        align-items: center;
        padding: 10px;
        margin: 5px;
        border-radius: 10px;
        transition: .3s;
        color: var(--black);
        
    } 

    .resume .course a:hover{
        background-color: var(--forth_color);
        color: var(--white);
        padding: 15px;
    } 

        /* End of resume styles */

        /* Start of experience styles */
        .experience-wrapper{
            width: 100%;
            background-color: var(--white);
        }
        .experience{
            max-width: 1200px;
            margin: 0 auto;
        }

        .experience h2{
            padding-bottom: 30px;
        }
        .experience .positions {
            padding: 0;
        }
            /*Reuse of the about styles*/
        /* End of experience styles */
        
        
        /* Start of portfolio styles */
        .portfolio-wrapper{
            background-color: white;
            width: 100%;
        }

        .portfolio-title-wrapper {
            max-width: 1200px;
            margin: 0 auto;
        }

        .portfolio-title-wrapper h2 {
            padding: 50px 0;
            padding-left: 20px;
            padding-top:100px;
        }
        .portfolio{
           width: 100%;
           background-color: var(--white);
           font-family: var(--regularFont);
           display: flex;
           flex-wrap: wrap;
        }


        .project{
            height: 300px;
            width: 100%;
            background-color: var(--primary_color);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }

        .project a{
            width: 100%;
            height: 100%;
            cursor: pointer;
            background-color: rgba(22, 103, 233, 0.5);
            transition: .5s;
            text-decoration: none;
            color: var(--white);
            display:flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            padding: 20px;
            /* font-family: var(--regularFont); */
        }

        .project a:hover{
            background-color: rgba(0,0,0,0);
        }

        .project .project_title{
            padding: 10px 0;
        }

        #google{
            background-image: url('./img/Google_clone.PNG');
        }

        #faq_accordion{
            background-image: url('./img/FAQ_accordion.PNG');    
        }

        #poke_api{
            background-image: url('./img/PokeApi_App.PNG');    
        }
        /* End of portfolio styles */

        footer{
            font-family: var(--regularFont);
            font-size: 1.2rem;
            color: var(--white);
            width: 100%;
            height: 100px;
            background-color: var(--forth_color);  
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            text-align: center;
        }

        @media (min-width: 680px){

            footer{
                font-size: var(--mobile_fontSize);
            }

            .me{
                display: initial;
                width: 60%;
            }


            .me p{
                width: 80%;
                margin: 0;
            }

            .me ul{
                width: 80%;
                margin: 0;
                padding: 0;
            }

            .me li{
                padding-top: 15px;
            }

            .about{
                display: flex;
                justify-content: space-evenly;
            }

            .about .education{
                padding: 0;
            }
            .education h2{
                margin:0;
            }

            hr{
                margin: 15px 0;
            }

        }

        @media (min-width: 1000px){
            .project{
                width: 50%;
            }

            .about{
                max-width: 1200px;
                margin: 0 auto;
            }

            header{
                display: flex;
                justify-content: space-around;
            }

            header .brand {
                width: 30%;
            }

            header nav {
                width: 70%;
                background: transparent;
            }

            header nav ul, .menu{
                position: static;
                top:0;
                left: 0;
                transition: .5s;
                display: flex;
                justify-content: flex-end;
                font-family: var(--regular_fontSize);
                font-size: var(--h3_fontSize);
            }

            header #menu_button{
                display: none;
            }
            .brand{
                font-size: var(--h1_fontSize);
            }
            .brand:hover{
                font-size: var(--h1_fontSize);
            }

            header.dark a, header nav ul li a{
                background-color: transparent;
                padding: 18px;
                }

            .dark ul li a, .dark ul {
                background-color:rgba(0,0,0,0);
                }
        }

        
        @media (min-width: 1200px){
            .hero-filter{
                flex-direction: row;
            }
            .hero-filter > *{
                padding: 0 15px;
            }
            .hero-filter span{
                font-size: 7rem;
            }
            .hero-filter h1, .hero-filter h2{
                color: var(--white);
                font-size: 7rem;
            }
            .hero-filter h1 span,
            .hero-filter h2:last-child{
                color: var(--primary_color);
                font-size: 7rem;
            }
            .project{
                width: 25%;
            } 

            .positions{
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                justify-content: space-around;
            }

            .positions h2{
                width: 100%;
            }

            .positions .position{
                width: 40%;
                margin: 20px;
                padding: 0;
            }

            hr{
                display: none;
            }
            .courses{
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .course{
                margin: 0;
                font-size: var(--h3_fontSize) ;
                opacity: 70%;
            }

            .course:hover{
                opacity: 100%;
                background-color: var(--white);
            }

            footer{
                flex-direction: row;
                font-size: var(--regular_fontSize);
            }
 
            
        }
        