:root{
    --h1_fontSize: 2.6rem;
    --h2_fontSize: 2.4rem;
    --h3_fontSize: 1.8rem;
    --regular_fontSize: 1.6rem;
    --mobile_fontSize: .9rem;
    --primary_color: #39A3FA;
    --second_color: #0E283D;
    --third_color: #2B7ABA;
    --forth_color: #1C507A;
    --white: #fff;
    --black: #000;
    --featureFont:'Acme', sans-serif;
    --regularFont:'Poppins', sans-serif;
}

/* Start of general styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html{
    font-size: 62.5%;
}

body{
    font-size: var(--regular_fontSize);
    font-family: var(--featureFont);
}

h1{
    font-size: var(--h1_fontSize);
    font-weight:bolder;
}

h2{
    font-size: var(--h2_fontSize);
    font-weight:bolder;
}
/* End of general styles */

/* Start of header styles */

header{
    width: 100%;
    background-color: var(--forth_color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 10px;
    height: 50px;
    font-size: var(--mobile_fontSize);
    color: var(--white)
}
.brand{
    font-family: var(--featureFont);
    transition: .7s;
}

.brand:hover{
    font-size: 1rem;
    color: var(--primary_color)
}

header nav{
    display: flex;
    flex-direction: column;
    
}

header nav ul, .menu{
    width: 100%;
    background-color: var(--forth_color);
    position: absolute;
    top:-500px;
    left: 0;
    transition: .5s;

}

.menu.active{
    display: block;
    position: absolute;
    left: 0;
    top: 50px;
}

header nav ul li{
    list-style: none;
    width: 100%;
}

header nav ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    cursor: pointer;
    color: var(--white)
}
header nav ul li:hover {
    background-color: var(--third_color);
}

#menu_button{
    height: inherit;
    cursor: pointer;
    padding: 10px;
    font-family: var(--featureFont);
    transition: .5s;
}
#menu_button:hover{
    font-size: 1rem;
    color: var(--primary_color)
}

/* End of header styles */

/* Start of main styles */

.main{
    display: flex;
    
    
}

    /* Start of hero styles */

    .hero{
        background-color: var(--forth_color);
        height: 400px;
        background-image: url('./img/pexels-negative-space-169573.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family:'Poppins', sans-serif;
    }
    .hero-filter{
        height: 100%;
        width: 100%;
        background-color: rgba(255,255,255,.1);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-shadow: 1px 1px 1px rgb(51, 8, 243);
    }
    .hero span{
        font-size: var(--h1_fontSize);
    }
    .hero h1, .hero h2{
        color: var(--white);
    }
    .hero h1 span,
    .hero-filter h2:last-child{
        color: var(--primary_color);
    }

    /* End of hero styles */